.webkit-scrollbar {
    &::-webkit-scrollbar {
        width: 1em;
        height: 1em;

        &:horizontal {
            height: 5px;
        }

        &:vertical {
            width: 5px;
        }
    }

    &::-webkit-scrollbar-corner {
        display: none;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 5px;

        background-color: @scrollbar-default-background-color;
    }

    &:hover::-webkit-scrollbar-thumb {
        background-color: @scrollbar-container-hover-background-color;

        &:hover {
            background-color: @scrollbar-hover-background-color;
        }
    }
}
