.server-list-item {
    display: flex;

    padding: 0 10px;

    outline: none;
    background-color: transparent;

    transition: background-color @control-color-transition-time ease;

    & > .options-button-container {
        margin-left: 5px;

        opacity: 0;

        transition: opacity @control-default-transition-time ease;
    }

    &:hover,
    &.selected {
        & > .options-button-container {
            opacity: 1;
        }
    }

    &:hover {
        background: @control-default-background-color;
    }

    &.selected {
        background: @control-active-background-color;
    }

    .server-list-item-name {
        flex: 1;

        margin-left: 5px;

        vertical-align: middle;

        cursor: default;

        user-select: none;
        pointer-events: none;

        .server-list-item-name-text {
            display: inline-block;
            overflow: hidden;

            max-width: @server-list-item-name-text-max-width;

            white-space: nowrap;
            text-overflow: ellipsis;

            vertical-align: middle;
            line-height: 23px;
        }
    }
}
