.tree-view-span-container {
    min-width: 20px;

    vertical-align: middle;

    .tree-view-span {
        vertical-align: middle;

        .tree-view-expander {
            font-size: 0.8em;

            cursor: pointer;
        }
    }
}
