@default-background-color: #363636;
@default-text-color: ghostwhite;

@default-border-color: #727272;

/*----control-----*/
@control-border-color: #727272;
@control-border-active-color: #9e9e9e;

@control-default-background-color: #404040;
@control-active-background-color: #565656;

@control-text-color: #959595;
@control-active-text-color: #c4c4c4;

/*----vertical delimiter----*/
@vertical-delimiter-background: #646464;
