@default-background-color: #363636;
@default-text-color: ghostwhite;

@default-border-color: #727272;

/*----control-----*/
@control-border-color: #727272;
@control-border-active-color: #9e9e9e;
@control-border-error-color: #fa5532;

@control-default-background-color: #404040;
@control-active-background-color: #565656;

@control-text-color: #959595;
@control-active-text-color: #c4c4c4;

@control-required-mark-color: #ef5f3c;

/*----vertical delimiter----*/
@vertical-delimiter-background: #646464;

/*----server list item icon----*/
@server-list-item-folder-icon-color: #c4c4c4;
@server-list-item-server-icon-color: #c4c4c4;
@server-list-item-database-icon-color: #d92b21;
@server-list-item-key-icon-color: #ce9c02;

/*----scrollbar----*/
@scrollbar-default-background-color: #404040;
@scrollbar-container-hover-background-color: #565656;
@scrollbar-hover-background-color: #757575;
