.main-layout-container {
  height: 100%;
  display: flex;

  background-color: @default-background-color;
  color: @default-text-color;

  & > .Pane {
    display: flex;
  }

  .right-panel {
    position: absolute;

    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    overflow: auto;

    .webkit-scrollbar;
  }
}
