@import "color-scheme";

@default-border-thickness: 1px;

/*----control variables-----*/
@control-border-thickness: 1px;
@control-border-radius: 3px;

@control-border-color-transition-time: 300ms;

@control-color-transition-time: 300ms;

/*----vertical delimiter----*/
@vertical-delimiter-width: 3px;
