@default-background-color: #363636;
@default-text-color: ghostwhite;

@default-border-color: #727272;
@default-border-thickness: 1px;

/*----control variables-----*/
@control-border-thickness: 1px;
@control-border-radius: 3px;

@control-border-color: #727272;
@control-border-active-color: #9e9e9e;
@control-border-color-transition-time: 300ms;

@control-default-background-color: #404040;
@control-active-background-color: #565656;
@control-color-transition-time: 300ms;

@control-text-color: #959595;
@control-active-text-color: #c4c4c4;

/*----vertical delimiter----*/
@vertical-delimiter-width: 3px;
@vertical-delimiter-background: #646464;
