@default-background-color: #61636b;

/*----control variables-----*/
@control-border-thickness: 1px;
@control-border-radius: 3px;

@control-border-color: #b1becd;
@control-border-active-color: #92a2b9;
@control-border-color-transition-time: 300ms;

@control-default-background-color: #e2e2e9;
@control-active-background-color: #d0d0e1;

/*----vertical delimiter----*/
@vertical-delimiter-width: 3px;
@vertical-delimiter-background: #b1bccd;
