.server-view-toolbox {
    display: flex;

    border-bottom: @default-border-thickness solid @default-border-color;

    padding: 10px 5px 5px 5px;
    margin: 0 5px;

    & > .toolbox-btn {
        border: @control-border-thickness solid;
        border-radius: @control-border-radius;

        margin-left: 5px;
        padding: 5px;

        background: none;
        outline: none;

        border-color: transparent;
        color: @control-text-color;

        transition: color @control-color-transition-time ease,
            border-color @control-border-color-transition-time ease;

        > .add-server-icon,
        > .settings-icon,
        > .remove-icon {
            vertical-align: middle;
        }

        &:hover,
        &:focus {
            border-color: @control-border-color;

            > .add-server-icon,
            > .settings-icon,
            > .remove-icon {
                color: @control-active-text-color;
            }
        }
    }
}
