.server-view-search-tool {
    display: flex;
    flex-direction: row-reverse;
    flex: 1;

    & > .search-field {
        &, & + .search-icon {
            border: @control-border-thickness solid @control-border-color;

            transition: border-color @control-border-color-transition-time ease;
        }
    }

    & > .search-field {
        flex: 1;
        width:100%;

        outline: none;

        border-radius: 0 @control-border-radius @control-border-radius 0;

        padding: 5px 10px;

        background-color: @control-default-background-color;

        & + .search-icon {
            border-right: 0;
            border-radius: @control-border-radius 0 0 @control-border-radius;

            padding: 5px 10px;
        }

        &:focus, &:hover {
            &, & + .search-icon {
                border-color: @control-border-active-color;
                background-color: @control-active-background-color;
            }
        }
    }
}
