.server-view-toolbox {
    display: flex;

    border-bottom: @default-border-thickness solid @default-border-color;

    padding: 10px 0 5px 0;
    margin: 0 10px;


    & > .toolbox-btn {
        border: @control-border-thickness solid @control-border-color;
        border-radius: @control-border-radius;

        margin-left: 5px;
        padding: 5px 10px;

        background: none;
        outline: none;

        transition: border-color @control-border-color-transition-time ease;

        &:hover,
        &:focus {
            border-color: @control-border-active-color;
        }
    }
}
