.labeled-input {
    display: flex;
    position: relative;

    .input-label-container {
        display: flex;
        flex-direction: row-reverse;
        flex: 1;

        & > .input {
            &, & + .input-label {
                border: @control-border-thickness solid @control-border-color;
            }
        }

        & > .input {
            flex: 1;
            width: 100%;

            outline: none;

            border-radius: 0 @control-border-radius @control-border-radius 0;

            padding: 5px;

            background-color: @control-default-background-color;
            color: @control-text-color;

            transition: background-color @control-color-transition-time ease,
                border-color @control-border-color-transition-time ease;

            &::placeholder {
                color: @control-text-color;
            }

            & + .input-label {
                border-right: 0;
                border-radius: @control-border-radius 0 0 @control-border-radius;

                padding: 5px;

                color: @control-text-color;

                cursor: pointer;

                transition: color @control-color-transition-time ease,
                    border-color @control-border-color-transition-time ease;

                .required-icon {
                    margin-left: 0.2em;

                    font-size: 0.5em;

                    vertical-align: text-top;

                    color: @control-required-mark-color;
                }
            }

            &[type='number'] {
                &::-webkit-inner-spin-button {
                    margin-top: 2px;
                    margin-right: -5px;
                    height: 2.5em;

                    opacity: 0;
                }

                & + .input-label {
                    &:before,
                    &:after {
                        display: block;
                        position: absolute;

                        right: 1px;
                        padding: 0 3px;

                        border-left: @control-border-thickness solid @control-border-color;

                        font-family: FontAwesome;
                        vertical-align: middle;

                        cursor: pointer;
                        pointer-events: none;

                        background-color: @control-default-background-color;

                        transition: border-color @control-border-color-transition-time ease;
                    }

                    &:before {
                        content: '\f0d8';

                        top: 1px;
                        bottom: 45%;
                    }

                    &:after {
                        content: '\f0d7';

                        top: 45%;
                        bottom: 1px;
                    }
                }
            }

            &:focus, &:hover {
                background-color: @control-active-background-color;

                &,
                &[type='number'] + .input-label:before,
                &[type='number'] + .input-label:after,
                & + .input-label {
                    border-color: @control-border-active-color;
                    color: @control-active-text-color;
                }

            }
        }

        &:focus, &:hover {
            & > .input {
                background-color: @control-active-background-color;

                &,
                &[type='number'] + .input-label:before,
                &[type='number'] + .input-label:after,
                & + .input-label {
                    border-color: @control-border-active-color;
                    color: @control-active-text-color;
                }
            }
        }
    }

    &.error .input-label-container > .input {
        border-color: @control-border-error-color;
    }
}
