.main-layout-container {
    height: 100%;
    display: flex;

    background-color: @default-background-color;
    color: @default-text-color;

    & > .Pane {
        display: flex;
    }

    & > .Pane1 {
        overflow: auto;

        .webkit-scrollbar;
    }
}
